*{
    background-color: black;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
div.cycle-slideshow{
    width: 33%;
    display: block;
    left: 409px;
}
div.container{
    width: 80%;
    margin: 0 auto 0 auto ;
}

header{
color: rgb(255, 255, 255);
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, 50em;
align-content:space-around

}

div.top-left, div.top-center, div.top-right{
    width: 33%;
}
div.middle-left, div.middle-center, div.middle-right{
    width: 33%;
}
div.bottom-left, div.bottom-center, div.bottom-right{
    
    width: 33%;
}
aside img{
    width: 100%; 

}
aside{
    display: flex;
    justify-content: space-between;
}
div.caption h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif,50em ;
    text-align: center;
    color:white;
}
div.caption h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif,50em ;
    text-align: center;
    color:rgb(139, 139, 139);
}

div.caption{
    color:rgb(139, 139, 139);
    
}
ul{
    text-align: center;
  }

li{
    display: inline-block;
    width: 150px;
    line-height: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-variant: small-caps;
 }

a{
    color: rgb(61, 60, 60);
    text-decoration: none;
    display: block;
}
a:hover{
    color:white;
}
